<?xml version="1.0" encoding="utf-8" ?>
<!-- Proxy config is used to set the ArcGIS Server services that the proxy will forward to.
        
        mustMatch: true to only proxy to sites listed, false to proxy to any site -->
<ProxyConfig mustMatch="false">
  <serverUrls>
    <!-- serverUrl options:
            url = location of the ArcGIS Server, either specific URL or stem
            matchAll = true to forward any request beginning with the url
            token = (optional) token to include for secured service
    -->
	
	<serverUrl url="http://webninja/" 
               matchAll="true"></serverUrl>
	<serverUrl url="http://tm2-elb-1378978824.us-east-1.elb.amazonaws.com/" 
               matchAll="true"></serverUrl>
	<serverUrl url="http://tm2-elb-1378978824.us-east-1.elb.amazonaws.com/" 
               matchAll="true"></serverUrl>
    <serverUrl url="http://tmapps.esri.com/arcgis/rest/services" 
               matchAll="true"></serverUrl>
    <serverUrl url="http://tmapps1.esri.com/arcgis/rest/services" 
               matchAll="true"
               token="UtNwYnm6ixRZFbb_9crNbD7owsDaA4bMckgf2S8EyR_yYL360_l-UWyNza0vIfhk"></serverUrl>
    <serverUrl url="http://services.arcgisonline.com/arcgis/rest/services/" 
              matchAll="true" 
              token=""></serverUrl>
    <serverUrl url="http://server.arcgisonline.com/arcgis/rest/services/"
               matchAll="true"></serverUrl>
    <serverUrl url="http://events.arcgisonline.com/arcgis/rest/services/"
               matchAll="true"></serverUrl>
    <serverUrl url="http://yeti11.esri.com/arcgis/rest/services/"
               matchAll="true"></serverUrl>
    <serverUrl url="http://gdata.youtube.com/feeds/api/videos"
               matchAll="true"></serverUrl>
    <serverUrl url="http://http://stormtracker.esri.com/ArcGIS/rest/services/"
               matchAll="true"></serverUrl>
    <serverUrl url="http://twitter.com/home/"
               matchAll="true"></serverUrl>
    <serverUrl url="http://www.facebook.com/"
               matchAll="true"></serverUrl>
    <serverUrl url="http://api.bit.ly/v3/"
               matchAll="true"></serverUrl>
    <serverUrl url="http://oilspill.labucketbrigade.org/api" 
               matchAll="true"></serverUrl>
    <serverUrl url="http://pipes.yahoo.com/pipes/pipe.run"
               matchAll="true"></serverUrl>
    <serverUrl url="http://search.twitter.com/"
               matchAll="true"></serverUrl>
    <serverUrl url="http://api.citysourced.com/cs/rest"
               matchAll="true"></serverUrl>
    <serverUrl url="http://bulli/"
               matchAll="true"></serverUrl>
	<serverUrl url="http://ags.pdc.org/"
               matchAll="true"></serverUrl>
	<serverUrl url="http://de21.digitalasia.chubu.ac.jp/"
               matchAll="true"></serverUrl>
	<serverUrl url=" http://joplintornado.crowdmap.com/api"
               matchAll="true"></serverUrl>   
  </serverUrls>
</ProxyConfig>
